
<div class="content">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <div class="booking-doc-info">

              <a href="doctor-profile.html" class="booking-doc-img">
                <img [src]="src" alt="User Image">
              </a>

              <div class="booking-info">
                <h4><a href="doctor-profile.html">{{name}}</a></h4>
                <div class="rating">
                  <i class="fas fa-star filled"></i>
                  <i class="fas fa-star filled"></i>
                  <i class="fas fa-star filled"></i>
                  <i class="fas fa-star filled"></i>
                  <i class="fas fa-star"></i>
                  <span class="d-inline-block average-rating">35</span>
                </div>

                <p class="text-muted mb-0"><i class="fas fa-map-marker-alt"></i> Viet Nam, Da Lat</p>
              </div>
            </div>
          </div>
        </div>

        <div class="card booking-schedule schedule-widget">
          <div class="schedule-header">
            <div class="row">
              <div class="col-md-12">
                <div class="day-slot">
                  <ul>
                    <li *ngFor="let item of week">
                      <span>{{item.date}}</span>
                      <span class="slot-date">{{item.day}} {{item.month}} <small class="slot-year">{{item.year}}</small></span>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="schedule-cont">
            <div class="row">
              <div class="col-md-12">

                <div class="time-slot">
                  <ul class="clearfix">
                    <ng-container *ngIf="scheduleTimeModel">
                      <li>
                        <a *ngFor="let item of scheduleTimeModel.Monday"
                           appHighlight [schedule]="item" class="timing">
                          <span>{{item.atBegin | myTimePipe}}</span> <span>AM</span>
                        </a>
                      </li>
                      <li>
                        <a  *ngFor="let item of scheduleTimeModel.Thuesday"
                            appHighlight [schedule]="item" class="timing">
                          <span>{{item.atBegin | myTimePipe}}</span> <span>AM</span>
                        </a>
                      </li>
                      <li>
                        <a  *ngFor="let item of scheduleTimeModel.Wenday"
                            appHighlight [schedule]="item" class="timing">
                          <span>{{item.atBegin | myTimePipe}}</span> <span>AM</span>
                        </a>
                      </li>
                      <li>
                        <a *ngFor="let item of scheduleTimeModel.Thursday"
                           appHighlight [schedule]="item" class="timing">
                          <span>{{item.atBegin | myTimePipe}}</span> <span>AM</span>
                        </a>
                      </li>
                      <li>
                        <a *ngFor="let item of scheduleTimeModel.Friday"
                           appHighlight [schedule]="item" class="timing">
                          <span>{{item.atBegin | myTimePipe}}</span> <span>AM</span>
                        </a>
                      </li>
                      <li>
                        <a *ngFor="let item of scheduleTimeModel.Sat"
                           appHighlight [schedule]="item" class="timing">
                          <span>{{item.atBegin | myTimePipe}}</span> <span>AM</span>
                        </a>
                      </li>
                    </ng-container>

                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="submit-section proceed-btn text-right">
          <a [routerLink]="['/doctor-profile',id,'booking','checkout']"
             class="btn btn-primary submit-btn" [ngClass]="{'disabled':!checkScheduleStorage() }">Book now</a>
        </div>
      </div>
    </div>
  </div>

</div>
