
  <div class="content">
    <div class="container">
      <div class="card">
        <div class="card-body">
          <div class="doctor-widget">
            <div class="doc-info-left">
              <div class="doctor-img">
                <img src="../../../{{src}}" class="img-fluid" alt="User Image">
              </div>
              <div class="doc-info-cont">
                <h4 class="doc-name">{{nameDoctor}}</h4>
                <p class="doc-department"><img src="../../../assets/img/specialities/specialities-05.png"
                                               class="img-fluid" alt="Speciality">{{speciality}}</p>
                <div class="rating">
                  <i class="fas fa-star filled"></i>
                  <i class="fas fa-star filled"></i>
                  <i class="fas fa-star filled"></i>
                  <i class="fas fa-star filled"></i>
                  <i class="fas fa-star"></i>
                  <span class="d-inline-block average-rating">(35)</span>
                </div>
                <div class="clinic-details">
                  <p class="doc-location"><i class="fas fa-map-marker-alt"></i> Viet Nam, Da Lat</p>
                  <ul class="clinic-gallery">
                    <li *ngFor="let image of _albums; let i=index">
                      <a data-fancybox="gallery" >
                        <img [eventHover] ="i" [src]="image.src"  alt="image.caption"/>
                      </a>
                    </li>
                 </ul>
                </div>
              </div>
            </div>
            <div class="doc-info-right">

              <div class="clinic-booking">
                <a class="apt-btn" [routerLink]="['/doctor-profile',idDoctor,'booking']">Book Appointment</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
