
<div #slotRef [id]="id" class="tab-pane fade" [class]="checkActive() ? 'show active' : ''">
  <ng-container *ngIf="timings.length <=0 ; else Available">
    <ng-container>
      <h4 class="card-title d-flex justify-content-between">
        <span>Time Slots</span>
        <a class="edit-link" data-toggle="modal" (click) = openModal()><i class="fa fa-plus-circle"></i> Add Slot</a>
      </h4>
      <p class="text-muted mb-0">Not Available</p>
    </ng-container>

  </ng-container>

  <ng-template #Available>
    <h4 class="card-title d-flex justify-content-between">
      <span></span>
      <a class="edit-link" data-toggle="modal" (click) = openModal()><i class="fa fa-plus-circle"></i> Add Slot</a>
    </h4>

    <h4 class="card-title d-flex justify-content-between">
      <span>Time Slots</span>
    </h4>
    <div class="doc-times">

      <div *ngFor="let item of timings" [style.background-color]="item.status === 0 ? '#42c0fb' : '#ff4877' "
           [style.border-color]="item.status === 0 ? '#42c0fb' : '#ff4877' "
           (click)='item.status === 0 ? EditTimings($event,item.doctorId,item.scheduleTimingId) : false' class="doc-slot-list">
        {{item.atBegin | myTimePipe}} - {{item.atEnd | myTimePipe }}
        <a href="javascript:void(0)" class="delete_schedule" id="{{item.scheduleTimingId}}"
           (click)='item.status ===0 ? deleteTimings($event) : false'>
          <i class="fa fa-times"></i>
        </a>
      </div>
    </div>
    <app-update-schedule-timings #modalEdit [ids]="idSchedules" [dayNow]="nameDay" (successAdd)="eventFromModalEdit($event)" ></app-update-schedule-timings>
  </ng-template>
  <app-add-schedule-timings #modalAdd [dayNow]="nameDay"  (successAdd)="eventFromModal($event)"></app-add-schedule-timings>
  <app-modalconfirm-doctor #modalDelete (save)="deleteSuccess($event)"></app-modalconfirm-doctor>
</div>

