
<app-bread-crumb-bar>
  <div underBread class="content">
    <div class="container-fluid">

      <div class="row">
        <div class="col-md-12 col-lg-4 col-xl-3 theiaStickySidebar">

          <!-- Search Filter -->
          <div class="card search-filter">
            <div class="card-header">
              <h4 class="card-title mb-0">Search doctor</h4>
            </div>
            <div class="card-body">
              <div class="filter-widget">
                <div class="cal-icon">
                  <input type="text" class="form-control datetimepicker" placeholder="Select doctor">
                </div>
              </div>
              <div class="filter-widget">
                <h4>Select Specialist</h4>
                <div *ngFor="let item of specialities">
                  <label class="custom_check">
                    <input type="checkbox" [value]="item.speciallityName"
                           (change)="onItemChange(
                           specialityField.includes(item.speciallityName) ?
                               specialityField = specialityField
                                                 .replace(item.speciallityName,'')
                                                 .replace(',','') :
                                specialityField ==='' ? specialityField= item.speciallityName :
                               specialityField = item.speciallityName +','+specialityField)"
                    >
                    <span class="checkmark"></span> {{item.speciallityName}}
                  </label>
                </div>
              </div>

              <div class="filter-widget">
                <h4>First Name</h4>
                <div>
                  <label class="custom_check">
                    <input type="radio" name="firstName" value="firstName"
                           [checked]="false"
                           [(ngModel)]="name"
                           (change)="onItemChange(name)"
                    >
                    <span class="checkmark"></span> Tăng
                  </label>
                </div>
                <div>
                  <label class="custom_check">
                    <input type="radio" name="firstName" value="-firstName"
                           [checked]="false"
                           [(ngModel)]="name"
                           (change)="onItemChange(name)"
                    >
                    <span class="checkmark"></span> Giảm
                  </label>
                </div>
              </div>

              <div class="filter-widget">
                <h4>Last Name</h4>
                <div>
                  <label class="custom_check">
                    <input type="radio" name="lastName"  value="lastName"
                           [checked]="false"
                           [(ngModel)]="name"
                           (change)="onItemChange(name)"
                    >
                    <span class="checkmark"></span> Tăng
                  </label>
                </div>
                <div>
                  <label class="custom_check">
                    <input type="radio" name="lastName"  value="-lastName"
                           [checked]="false"
                           [(ngModel)]="name"
                           (change)="onItemChange(name)"
                    >
                    <span class="checkmark"></span> Giảm
                  </label>
                </div>
              </div>

              <div class="filter-widget">
                <h4>Limit</h4>
                <div>
                  <label class="custom_check">
                    <input type="radio" name="limit"  value="5"
                           [checked]="false"
                           [(ngModel)]="limit"
                           (change)="onItemChange(limit)"
                    >
                    <span class="checkmark"></span> 5
                  </label>
                </div>
                <div>
                  <label class="custom_check">
                    <input type="radio" name="limit"  value="10"
                           [checked]="false"
                           [(ngModel)]="limit"
                           (change)="onItemChange(limit)"
                    >
                    <span class="checkmark"></span> 10
                  </label>
                </div>
                <div>
                  <label class="custom_check">
                    <input type="radio" name="limit"  value="20"
                           [checked]="false"
                           [(ngModel)]="limit"
                           (change)="onItemChange(limit)"
                    >
                    <span class="checkmark"></span> 20
                  </label>
                </div>

                <div>
                  <label class="custom_check">
                    <input type="radio" name="limit"  value="30"
                           [checked]="false"
                           [(ngModel)]="limit"
                           (change)="onItemChange(limit)"
                    >
                    <span class="checkmark"></span> 30
                  </label>
                </div>

              </div>

              <div class="btn-search">
                <button type="button" class="btn btn-block">Search</button>
              </div>
            </div>
          </div>
          <!-- /Search Filter -->

        </div>

        <div class="col-md-12 col-lg-8 col-xl-9">

          <ng-container *ngFor="let item of doctorPopular">

                <app-doctor-file  [idDoctor]="item.id" [src]="item.src"
                                 [nameDoctor]="item.name" [speciality]="item.specialitiesName"></app-doctor-file>
          </ng-container>

          <div class="load-more text-center">
            <a class="btn btn-primary btn-sm" href="javascript:void(0);">Load More</a>
          </div>
        </div>
      </div>

    </div>

  </div>
</app-bread-crumb-bar>

