
  <div class="profile-sidebar">
    <div class="widget-profile pro-widget-content">
      <div class="profile-info-widget">
        <a href="#" class="booking-doc-img">
          <img src="assets/img/patients/patient.jpg" alt="User Image">
        </a>
      </div>
    </div>
    <div class="dashboard-widget">
      <nav class="dashboard-menu">
        <ul>
          <li>
            <a [routerLink]="['/patient/profile-setting']">
              <i class="fas fa-lock"></i>
              <span>Profile</span>
            </a>
          </li>
          <li>
            <a [routerLink]="['/patient/profile-setting/password']">
              <i class="fas fa-lock"></i>
              <span>Change Password</span>
            </a>
          </li>
          <li>
            <a  style="cursor: pointer" (click)="logout()">
              <i class="fas fa-sign-out-alt"></i>
              <span>Logout</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
